<% include partials/header%>
<h1>Login</h1>
<form class="" action="/login" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" value="" placeholder="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" value="" placeholder="password" required>
  </div>
  <button>Login</button>
</form>
<% include partials/footer%>
